[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=1.5,<2"
matplotlib = "<4,>=3.6.0"
numpy = ">=1.23.3,<2"
opensearch-py = ">=2"
protobuf = "==3.20.*"

[dev-packages]

[requires]
python_version = "3.9"
