#
# Basic requirements
#
pandas>=1.5.2,<2.3,!=2.1.0
matplotlib>=3.6.2,<4
numpy>=2.3.2
opensearch-py>=2.2.0
torch>=2.7.1-rc1
onnx>=1.15.0
accelerate>=0.27
sentence_transformers>=2.5.0,<4.2
tqdm>4.66.0,<5
# transformers 4.50.0 uses torch.compiler interface. Which isn't introduced for torch version <2.1.0.
transformers>=4.47.0,<4.50.0
deprecated>=1.2.14,<2
mdutils>=1.6.0,<2
pillow>10.0.0,<11
nltk>=3.8.1
datasets>=2.16.0

#
# Testing
#
pytest>=7.1.2
pytest-mock
pytest-cov
nbval
pywavelets
scikit-learn
onnxscript

#
#Docs
#
pyyaml
nox
mypy==1.14.1
sphinx==7.1.2
sphinx-rtd-theme==3.0.2

