# Ignore data and ingestion directories
ml_commons/rag_pipeline/data/
ml_commons/rag_pipeline/ingestion/
ml_commons/rag_pipeline/rag/config.ini
# Ignore virtual environment
.venv/


# Ignore Python cache files
__pycache__/
*.pyc
